[Desktop Entry]
Name=MX Switch User
Name[am]=MX ተጠቃሚ መቀየሪያ
Name[ar]=MX Switch User
Name[bg]=MX Switch User
Name[ca]=MX Switch User
Name[cs]=Přepnout uživatele
Name[da]=MX Skift bruger
Name[de]=MX Benutzerwechsel
Name[el]=Αλλαγή χρήστη του MX
Name[es]=MX Cambiar Usuario
Name[et]=MX Switch User
Name[eu]=MX Switch User
Name[fa]=MX Switch User
Name[fi]=MX Switch User
Name[fr]=Changer d'utilisateur
Name[he_IL]=MX Switch User
Name[hi]=MX Switch User
Name[hr]=MX Switch User
Name[hu]=MX felhasználóváltó
Name[id]=MX Switch User
Name[is]=MX Switch User
Name[it]=MX Cambia Utente
Name[ja]=MX ユーザー切り替え
Name[kk]=MX Switch User
Name[ko]=MX Switch User
Name[lt]=MX perjungti naudotojus
Name[mk]=MX Switch User
Name[mr]=MX Switch User
Name[nb]=MX Switch User
Name[nl]=MX Wijzig Gebruiker
Name[pl]=MX Przełączanie użytkownika
Name[pt_BR]=MX Mudar de usuário
Name[pt]=MX-Mudar de utilizador
Name[ro]=MX Switch User
Name[ru]=MX Переключение пользователей
Name[sk]=MX Prepnúť užívateľa
Name[sl]=MX Zamenjaj uporabnika
Name[sq]=MX Switch User
Name[sr]=MX Switch User
Name[sv]=MX Byt Användare
Name[tr]=MX Switch User
Name[uk]=MX Switch User
Name[zh_CN]=MX Switch User
Name[zh_TW]=MX 切換使用者
Comment=Change users without logging out
Comment[am]=ተጠቃሚ መቀየሪያ ሳይወጡ
Comment[ar]=Change users without logging out
Comment[bg]=Change users without logging out
Comment[ca]=Canvia d'usuari sense sortir del Sistema
Comment[cs]=Přepnout uživatele
Comment[da]=Skift brugere uden at logge ud
Comment[de]=Ohne abmelden den Benutzer wechseln
Comment[el]=Αλλαγή χρηστών χωρίς αποσύνδεση
Comment[es]=Cambiar Usuario sin finalizar la sesión
Comment[et]=Change users without logging out
Comment[eu]=Change users without logging out
Comment[fa]=Change users without logging out
Comment[fi]=Change users without logging out
Comment[fr]=Changer d'utilisateur sans déconnecter
Comment[he_IL]=Change users without logging out
Comment[hi]=Change users without logging out
Comment[hr]=Change users without logging out
Comment[hu]=Felhasználóváltás kijelentkezés nélkül
Comment[id]=Change users without logging out
Comment[is]=Change users without logging out
Comment[it]=Cambiare utente senza disconnettersi
Comment[ja]=ログアウトせずにユーザーを切り替え
Comment[kk]=Change users without logging out
Comment[ko]=Change users without logging out
Comment[lt]=Pakeisti naudotojus, neatsijungiant
Comment[mk]=Change users without logging out
Comment[mr]=Change users without logging out
Comment[nb]=Change users without logging out
Comment[nl]=Wijzig gebruikers zonder uit te loggen
Comment[pl]=Zmień użytkowników bez wylogowywania
Comment[pt_BR]=Mudar de usuário sem sair da sessão [mx-switchuser]
Comment[pt]=Mudar de utilizador sem sair da sessão [mx-switchuser]
Comment[ro]=Change users without logging out
Comment[ru]=Переключение пользователей без выхода из системы
Comment[sk]=Prepnúť užívateľov bez nutnosti odhlásenia
Comment[sl]=Zamenjaj uporabnika brez odjave
Comment[sq]=Change users without logging out
Comment[sr]=Change users without logging out
Comment[sv]=Byt användare utan att logga ut
Comment[tr]=Change users without logging out
Comment[uk]=Change users without logging out
Comment[zh_CN]=Change users without logging out
Comment[zh_TW]=無需登出便可切換使用者

Exec=mx-switchuser
Icon=system-users
NoDisplay=false
Categories=System;
Type=Application
