[Desktop Entry]
Name=MX Switch User
Name[am]=MX ተጠቃሚ መቀየሪያ
Name[ca]=MX Switch User 
Name[cs]=Přepnout uživatele
Name[de]=MX Benutzerwechsel
Name[el]=Αλλαγή χρήστη του MX
Name[es]=MX Cambiar Usuario
Name[fi]=MX Switch User
Name[fr]=Changer d'utilisateur
Name[hi]=MX Switch User
Name[hr]=MX Switch User
Name[hu]=MX felhasználóváltó
Name[it]=MX Cambia Utente
Name[ja]=MX ユーザー切り替え
Name[kk]=MX Switch User
Name[lt]=MX perjungti naudotojus
Name[nl]=MX Wijzig Gebruiker
Name[pl]=MX Switch User
Name[pt]=MX-Mudar de utilizador
Name[pt_BR]=MX Switch User
Name[ro]=MX Switch User
Name[ru]=MX Переключение пользователей
Name[sk]=MX Prepnúť užívateľa
Name[sv]=MX Byt Användare
Name[tr]=MX Switch User
Name[uk]=MX Switch User
Name[zh_TW]=MX 切換使用者
Comment=Change users without logging out
Comment[am]=ተጠቃሚ መቀየሪያ ሳይወጡ
Comment[ca]=Canvia d'usuari sense sortir del Sistema 
Comment[cs]=Přepnout uživatele 
Comment[de]=Ohne ausloggen den Benutzer wechseln
Comment[el]=Αλλαγή χρηστών χωρίς αποσύνδεση
Comment[es]=Cambiar Usuario sin finalizar la sesión
Comment[fi]=Change users without logging out
Comment[fr]=Changer d'utilisateur sans déconnecter
Comment[hi]=Change users without logging out
Comment[hr]=Change users without logging out
Comment[hu]=Felhasználóváltás kijelentkezés nélkül
Comment[it]=Cambiare utente senza disconnettersi
Comment[ja]=ログアウトせずにユーザーを切り替え
Comment[kk]=Change users without logging out
Comment[lt]=Pakeisti naudotojus, neatsijungiant
Comment[nl]=Wijzig gebruikers zonder uit te loggen
Comment[pl]=Change users without logging out
Comment[pt]=Mudar de utilizador sem sair da sessão [mx-switchuser]
Comment[pt_BR]=Change users without logging out
Comment[ro]=Change users without logging out
Comment[ru]=Переключение пользователей без выхода из системы
Comment[sk]=Prepnúť užívateľov bez nutnosti odhlásenia
Comment[sv]=Byt användare utan att logga ut
Comment[tr]=Change users without logging out
Comment[uk]=Change users without logging out
Comment[zh_TW]=無需登出便可切換使用者

Exec=mx-switchuser
Icon=system-users
NoDisplay=false
Categories=System;
Type=Application
